.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-content {
    margin-bottom: 20px;
}

.main-content {
    width: 70%;
    margin-right: 20px;
}

.record-section {
    background-color: #ddedff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.add-record-btn {
    background-color: #1363ff;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-record-btn:hover {
    background-color: #0a4fc0;
}

.download-record-btn {
    background-color: white;
    color: #1363ff;
    padding: 8px 13px;
    border-radius: 20px;
    border: 2px solid #1363ff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.download-record-btn:hover {
    background-color: #e0e0e0;
    color: #0a4fc0;
    border: 2px solid #0a4fc0;
}

.shortcut-section {
    padding: 20px;
}
.articles {
    display: grid;
    grid-template-columns: repeat(
        2,
        1fr
    ); /* Create two equally sized columns */
    gap: 20px; /* Space between articles */
}

.expand-all-btn {
    float: right;
    background-color: #eee;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.expand-all-btn:hover {
    background-color: #e0e0e0;
}

.article-card {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.learn-more-btn {
    background-color: #007bff;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar {
    background-color: #f6f6f6;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}

.community-section {
    padding: 20px;
    background-color: #ffe7dd;
    border-radius: 20px;
}

.community-section h6 {
    margin-bottom: 20px;
    color: #c56941;
}

.answer-community-qa-btn{
    background-color: #c56941;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.answer-community-qa-btn:hover{
    background-color: white;
    color: #c56941;
    padding: 6px 14px;
    border: 1px solid #c56941;
}

.email-notification-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0f9e3;
    border-radius: 20px;
}

.email-notification-section h6 {
    margin-bottom: 20px;
    color: #42a64d;
}

.set-email-btn{
    float: right;
}

.set-email-btn:hover{
    color: #42a64d;
}

.get-testkit-section {
    background-color: #ddedff;
    border-radius: 20px;
    padding: 20px;
}

.get-testkit-section h6 {
    margin-bottom: 20px;
    color: #1363ff;
}

.purchase-link {
    display: flex;
    text-decoration: underline;
}

.purchase-link svg { 
    margin-left: 7px;
    margin-top: 4px;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn {
    float: right;
    color: white;
    background-color: red;
    border-radius: 50%;
    border: red solid 1px;
    transition: background-color 0.3s;
}

.modal-close-btn:hover {
    color: red;
    background-color: white;
}

.form-question{
    margin-top: 20px;
}

.form-question label{
    margin-bottom: 10px;
}

.form-question input{
    width: 100%;
}

.form-question select{
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
}

.form-question a{
    color: #1363ff;
    text-decoration: underline;
}

#terms{
    width: 20px;
    margin-top: 7px;
    margin-right: 10px;
    float: left;
}
