.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-content {
    margin-bottom: 20px;
}

.main-content {
    width: 70%;
    margin-right: 20px;
}

.record-section {
    background-color: #ddedff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.add-record-btn {
    background-color: #1363ff;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-record-btn:hover {
    background-color: #0a4fc0;
}

.download-record-btn {
    background-color: white;
    color: #1363ff;
    padding: 8px 13px;
    border-radius: 10px;
    border: 2px solid #1363ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.download-record-btn:hover {
    background-color: #e0e0e0;
    color: #0a4fc0;
    border: 2px solid #0a4fc0;
}

.shortcut-section {
    padding: 20px;
}
.articles {
    display: grid;
    grid-template-columns: repeat(
        2,
        1fr
    ); /* Create two equally sized columns */
    gap: 20px; /* Space between articles */
}

.expand-all-btn {
    float: right;
    background-color: #eee;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.expand-all-btn:hover {
    background-color: #e0e0e0;
}

.article-card {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.learn-more-btn {
    background-color: #007bff;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar {
    background-color: #f6f6f6;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
}

.community-section {
    padding: 20px;
    background-color: #ffe7dd;
    border-radius: 10px;
}

.community-section h6 {
    margin-bottom: 20px;
    color: #c56941;
}

.answer-community-qa-btn{
    background-color: #c56941;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.answer-community-qa-btn:hover{
    background-color: white;
    color: #c56941;
    padding: 4px 9px;
    border: 1px solid #c56941;
}

.email-notification-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0f9e3;
    border-radius: 10px;
}

.email-notification-section h6 {
    margin-bottom: 20px;
    color: #42a64d;
}

.set-email-btn{
    float: right;
}

.set-email-btn:hover{
    color: #42a64d;
}

.get-testkit-section {
    background-color: #ddedff;
    border-radius: 10px;
    padding: 20px;
}

.get-testkit-section h6 {
    margin-bottom: 20px;
    color: #1363ff;
}

.purchase-link {
    display: flex;
    text-decoration: underline;
}

.purchase-link svg { 
    margin-left: 7px;
    margin-top: 4px;
}