.normal-section {
    padding: 50px 0;
    background-color: #f4f4f4;
    margin-bottom: 1rem;
}

.normal-section:nth-child(even) {
    background-color: #e4e4e4;
}

.articles-section,
.product-section,
.community-section,
.faqs-section,
.email-section {
    padding: 50px 0;
}

.articles-grid {
    display: flex;
    gap: 2rem;
}

.article-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
}

.product-section,
.community-section {
    display: flex;
}

.product-content,
.community-content {
    width: 50%;
}

.faqs-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.email-section form {
    display: flex;
    gap: 1rem;
}
