.admin-container {
    display: flex;
}

.adminSidebar {
    min-height: 100vh;
    width: 250px;
    padding: 15px 20px;
    position: relative;
    transition: width 0.5s ease;
}

.adminSidebar.collapsed {
    width: 60px;
}

.adminSidebar h5 {
    color: white;
    margin-bottom: 20px;
    padding: 10px 15px;
    margin: 5px 0;
}

.side-btn-group{
    margin-top: 20px;
}

.adminSidebarBtn {
    font-size: medium;
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.adminSidebar button.active, 
.adminSidebarBtn:hover {
    font-size: medium;
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: white;
    color: #1363FF;
    border-radius: 5px;
}

.logout-btn {
    font-size: medium;
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    transition: color 0.3s;
}

.logout-btn:hover {
    background-color: white;
    color: red;
}

.logout{
    margin-top: 50px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

/* Collapsible styles */
.toggle-btn {
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.adminSidebar:not(.collapsed) .toggle-btn {
    display: inline-block;
    transform: none;
}

.adminSidebar.collapsed .toggle-btn {
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.adminSidebar.collapsed h5,
.adminSidebar.collapsed button:not(.toggle-btn) {
    display: none;
}
