.report-container{
    margin-top: 20px;
    display: flex;
}

.report-container button{
    margin-left: 10px;
}

.report-container button:hover{
    color: #1363FF;
}

.dashboard-group-switch {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    overflow: hidden;
}

.dashboard-group-switch div{
    margin-left: 20px;
    border-radius: 5px;
}

/* Dashboard.css */
.cards-container {
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-card {
    margin-left: 50px;
    width: 200px;
    height: 80px;
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
    text-align: center;
}

.chart-container {
    width: 80%;
    height: 400px;
    margin-bottom: 70px;
}

.chart-header {
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}

.section-container{
    margin-left: 10px;
}